# Classify Water Potability 

### DSCI 100 004 Group 24 Proposal

In [6]:
library(tidyverse)
library(dplyr)

In [9]:
dataset_cleveland <- read_delim("data/processed.cleveland.data", delim = ",", col_names = FALSE)
head(dataset_cleveland)
dataset_va <- read_delim("data/processed.va.data", delim = ",", col_names = FALSE)
head(dataset_va)
dataset_hungarian <- read_delim("data/processed.hungarian.data", delim = ",", col_names = FALSE)
head(dataset_hungarian)
dataset_switzerland <- read_delim("data/processed.switzerland.data", delim = ",", col_names = FALSE)
head(dataset_switzerland)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1 63 1  1  145 233 1  2  150 0  2.3 3   0.0 6.0 0
2 67 1  4  160 286 0  2  108 1  1.5 2   3.0 3.0 2
3 67 1  4  120 229 0  2  129 1  2.6 2   2.0 7.0 1
4 37 1  3  130 250 0  0  187 0  3.5 3   0.0 3.0 0
5 41 0  2  130 204 0  2  172 0  1.4 1   0.0 3.0 0
6 56 1  2  120 236 0  0  178 0  0.8 1   0.0 3.0 0

Rows: 200 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X5, X6, X8, X9, X10, X11, X12, X13
dbl (5): X1, X2, X3, X7, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3 X4  X5  X6 X7 X8  X9 X10  X11 X12 X13 X14
1 63 1  4  140 260 0  1  112 1  3    2   ?   ?   2
2 44 1  4  130 209 0  1  127 0  0    ?   ?   ?   0
3 60 1  4  132 218 0  1  140 1  1.5  3   ?   ?   2
4 55 1  4  142 228 0  1  149 1  2.5  1   ?   ?   1
5 66 1  3  110 213 1  2  99  1  1.3  2   ?   ?   0
6 66 1  3  120 0   0  1  120 0  -0.5 1   ?   ?   0

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X5, X6, X7, X8, X9, X11, X12, X13
dbl (5): X1, X2, X3, X10, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1 28 1  2  130 132 0  2  185 0  0   ?   ?   ?   0
2 29 1  2  120 243 0  0  160 0  0   ?   ?   ?   0
3 29 1  2  140 ?   0  0  170 0  0   ?   ?   ?   0
4 30 0  1  170 237 0  1  170 0  0   ?   ?   6   0
5 31 0  2  100 219 0  1  150 0  0   ?   ?   ?   0
6 32 0  2  105 198 0  0  165 0  0   ?   ?   ?   0

Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X6, X7, X8, X9, X10, X11, X12, X13
dbl (5): X1, X2, X3, X5, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3 X4  X5 X6 X7 X8  X9 X10 X11 X12 X13 X14
1 32 1  1  95  0  ?  0  127 0  .7  1   ?   ?   1
2 34 1  4  115 0  ?  ?  154 0  .2  1   ?   ?   1
3 35 1  4  ?   0  ?  0  130 1  ?   ?   ?   7   3
4 36 1  4  110 0  ?  0  125 1  1   2   ?   6   1
5 38 0  4  105 0  ?  0  166 0  2.8 1   ?   ?   2
6 38 0  4  110 0  0  0  156 0  0   2   ?   3   1